
 h1{
     color: blue;
}
img{
     width:400px; 
     display: flex;
}
#thirdDiv{
     height: 600px;
     width: 500px;
     background-color:tan ;
     padding:50px;
     border: snow;
     border-color: seashell;
     border-style: inset;
     }
#spanID{
     font-size: 18px;
     margin: 50px;
}

body{
     background-image: url(bluec.jpg);
     display: flex;
     flex-direction: column;
     align-items: center;
}

.divClass{
     position: relative;
     text-align: center;
}
